[Unit]
Description=Start Syn

[Service]
User=dev
WorkingDirectory=/home/dev/syn
ExecStart=/home/dev/syn/bin/dev.sh 2
Restart=always

[Install]
WantedBy=multi-user.target
